@model List<Blog_System.Models.Entities.Notification>

@{
    var unreadCount = Model.Count(n => !n.IsRead);
}

<div class="dropdown">
    <a class="nav-link position-relative" href="#!" role="button" data-bs-toggle="dropdown">
        <i class="fas fa-bell fs-5"></i>
        @if (unreadCount > 0)
        {
            <span id="notification-badge" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                @unreadCount
            </span>
        }
        else
        {
            <span id="notification-badge" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                0
            </span>
        }
    </a>
    <ul class="dropdown-menu dropdown-menu-end" id="notification-list">
        @foreach (var notification in Model)
        {
            <li>
                <a class="dropdown-item" href="/Notification/Read/@notification.Id">
                    @notification.Content
                </a>
            </li>
        }
    </ul>

</div>
