@model ProfileViewModel
@{
    ViewData["Title"] = "EditProfile";
}


<div class="edit-profile-container">
    <div class="edit-profile-card">
        <h2>Edit Your Profile</h2>

        @* View يظهرها في ال ModelState.AddModelError("", $"{error.Description}"); دا عشان لو فيه اخطاء مسكها عن طريق *@
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })

        <form asp-action="EditProfile" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="LastName"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="UserName"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="BirthDate"></label>
                <input asp-for="BirthDate" type="date" class="form-control" />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ImageFile">Profile Image URL</label>
                <input asp-for="ImageFile" class="form-control" accept="Image/*" type="file"/>
                <span asp-validation-for="ImageFile" class="text-danger"></span>
                @if (Model.Image != null)
                {
                    <img src="~/Images/@Model.Image" style="width: 64px;" class="img-thumbnail" />
                }
                else
                {
                    <img src="~/Images/image.png" style="width: 64px;" class="img-thumbnail" />
                }
            </div>

            <button type="submit" class="btn">Save Changes</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

