@using Blog_System.ViewModel
@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Change Password";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-6">

        @if (ViewBag.IsSuccess == true)
        {
            <div class="alert alert-success" role="alert">
                Password has been updated successfully
            </div>
        }

        <form asp-action="ChangePassword" method="post">
            @* بيمسكه Model State معين اي خطأ ال Label بيعرض كل الاخطاء حتي لو مكنتش خاصه ب  *@
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group mb-3">
                <label asp-for="CurrentPassword" class="form-label"></label>
                <input asp-for="CurrentPassword" class="form-control" />
                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="NewPassword" class="form-label"></label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="ConfirmPassword" class="form-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Change Password</button>
            <button asp-action="Index" asp-controller="Home">Cancel</button>
        </form>
    </div>
</div>

@section Scripts {
@* JavaScript, JQuery, unobtrusive JQuery  *@
    <partial name="_ValidationScriptsPartial" />
}