@model PostViewModel


@{
    ViewData["Title"] = "Add";
}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container mt-5">
    <h2>Create New Post</h2>
    <hr />

    <form asp-action="Add" asp-controller="Post" enctype="multipart/form-data" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="mb-3">
            <label asp-for="Title" class="form-label"></label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Content" class="form-label"></label>
            <textarea asp-for="Content" rows="5" class="form-control"></textarea>
            <span asp-validation-for="Content" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="ImageFile" class="form-label">Post Image (optional)</label>
            <input asp-for="ImageFile" type="file" class="form-control" />
            <span asp-validation-for="ImageFile" class="text-danger"></span>
        </div>

        <div class="form-check mb-3">
            <input asp-for="Visible" class="form-check-input" type="checkbox" />
            <label asp-for="Visible" class="form-check-label">Visible to others</label>
        </div>

        <button type="submit" class="btn btn-primary">Post</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}